http:
  routers:
{% for app in apps %}
    {{ app.name }}-ext:
      entryPoints: ["websecure"]
      rule: "Host(`{{ app.subdomain }}.{{ base_domain }}`)"
      service: "waf"
      tls: {}


    {{ app.name }}-int:
      entryPoints: ["waf_in"]
      rule: "Host(`{{ app.subdomain }}.{{ base_domain }}`)"
      service: "{{ app.name }}-svc"
{% endfor %}


  services:
    waf:
      loadBalancer:
        servers:
          - url: "{{ caddy_url }}"


{% for app in apps %}
    {{ app.name }}-svc:
      loadBalancer:
        servers:
          - url: "{{ app.service_url }}"
          passHostHeader: true
{% endfor %}