http:
  routers:
{% for app in apps %}
    {{ app.name }}-ext:
      entryPoints: ["websecure"]
      rule: "Host({% for d in domains %}`{{ app.subdomain }}.{{ d }}`{% if not loop.last %}, {% endif %}{% endfor %})"
      service: "waf"
      tls: {}


    {{ app.name }}-int:
      entryPoints: ["waf_in"]
      rule: "Host({% for d in domains %}`{{ app.subdomain }}.{{ d }}`{% if not loop.last %}, {% endif %}{% endfor %})"
      service: "{{ app.name }}-svc"
{% endfor %}


  services:
    waf:
      loadBalancer:
        servers:
            - url: "{{ caddy_url }}"
          passHostHeader: true


{% for app in apps %}
    {{ app.name }}-svc:
      loadBalancer:
        servers:
            - url: "{{ app.service_url }}"
          passHostHeader: true
{% endfor %}
